<div class="modal" id="about">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header text-center">
				<img src="./assets/favicon.ico" alt="circum" width="35" height="35">
				<h4 class="modal-title w-100">circum</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><b>Version:</b> <a href="https://github.com/SteveBlum/circum/releases/tag/<%~ include('Version.html') %>"><%~ include('Version.html') %></a></li>
					<li class="list-group-item"><b>Author:</b> <a href="https://github.com/SteveBlum/">Steve Blum</a></li>
					<li class="list-group-item"><b>License:</b> <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a></li>
				</ul>
			</div>
			<div class="modal-footer">
				<button id="aboutCloseButton" type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>