/* Based on Canvas Clock by Marco Antonio Aguilar Acuña, https://codepen.io/Maku2202/pen/MarRgK/ */
html, body {
	height: 100%;
	margin: 0;
	background-color: black;
}
#canvas {
	width: 100%;
	height: 100%;
	display: block;
}